<mat-card-header>
  <div mat-card-avatar class="todo-avatar"></div>
  <mat-card-title>
    <span class="todo-title">{{ todoItem.name }}</span>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <mat-card-actions>
    <mat-slide-toggle color="primary" [checked]="todoItem.isComplete" (toggleChange)="toggleTodo(todoItem)">
      <span *ngIf="todoItem.isComplete">Completed! :)</span>
      <span *ngIf="!todoItem.isComplete">Not done yet! :(</span>
    </mat-slide-toggle>
  </mat-card-actions>
</mat-card-content>
