<form [formGroup]="addTodoForm" (ngSubmit)="submit()">
  <mat-form-field>
    <input matInput placeholder="Something to do" formControlName="name">
  </mat-form-field>
  <button mat-raised-button color="accent">Add Todo</button>
</form>
